.contact h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.contact {
  padding: 50px;
  text-align: center;
  background-color: #333;
  color: #fff;
  margin-left: 30rem;
  margin-right: 30rem;
  margin-bottom: 10rem;
}

.contact a {
  color: #fff;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

.contact-content {
  padding-top: 5rem;
}
