.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  border-bottom: 0.1em solid #ccc;
  z-index: 1000;
}

.name {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.navigation ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin-right: 2rem;
}

.navigation ul li a {
  text-decoration: none;
  color: #333;
  padding: 0.5rem 1rem;
}

.navigation ul li a:hover {
  color: aquamarine;
}
